# SQL Practice: Answering Business Questions Using SQL
## Introduction
In this project, I will be praciticing my SQL skills to answer business questions. For each question, I will:

* Write a SQL query to extract the relevant data
* Create plots where necessary to visualize the data
* Write a short paragraph drawing conclusions, explaining the data and/or visualizations.

## Database
I'll be using the [Chinook database](https://github.com/lerocha/chinook-database), which is a sample database available for SQL Server, Oracle, MySQL, etc. The Chinook data model represents a digital media store, including tables for artists, albums, media tracks, invoices and customers and has the schema below.
<img src= https://s3.amazonaws.com/dq-content/191/chinook-schema.svg>